@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-styles/keyframes";

:host {
  display: inline-flex;
  justify-content: center;
  position: relative;
  .cannot-select-text;
  .transition(@transition);
  #button {
    color: @color-inverted-text;
    background-color: @black;
    border: none;
    outline: none;
    margin: 0;
    padding: 0.55em 0.55em;
    .flat;
    .border;
    .transition(@transition);
    cursor: pointer;
  }
  #disabler {
    .disabler;
    .disabler-enabled;
  }
}

:host([pressed]) {
  .transform(scale(0.95, 0.95));
}

:host([disabled]) {
  #disabler {
    .disabler;
    .disabler-disabled;
  }
}

:host([minimal]) {
  #button {
    padding: 0;
    color: @color-text;
    background-color: transparent;
    background-image: none;
    border: none;
  }
}

:host([red]) {
  #button {
    background-color: @red;
  }
}

:host([minimal][red]) {
  #button {
    color: @red;
    background-color: transparent;
  }
}

:host([orange]) {
  #button {
    background-color: @orange;
  }
}

:host([minimal][orange]) {
  #button {
    color: @orange;
    background-color: transparent;
  }
}

:host([yellow]) {
  #button {
    color: @color-text;
    background-color: @yellow;
  }
}

:host([minimal][yellow]) {
  #button {
    color: @yellow;
    background-color: transparent;
  }
}

:host([green]) {
  #button {
    background-color: @green;
  }
}

:host([minimal][green]) {
  #button {
    color: @green;
    background-color: transparent;
  }
}

:host([blue]) {
  #button {
    background-color: @blue;
  }
}

:host([minimal][blue]) {
  #button {
    color: @blue;
    background-color: transparent;
  }
}

:host([indigo]) {
  #button {
    background-color: @indigo;
  }
}

:host([minimal][indigo]) {
  #button {
    color: @indigo;
    background-color: transparent;
  }
}

:host([violet]) {
  #button {
    background-color: @violet;
  }
}

:host([minimal][violet]) {
  #button {
    color: @violet;
    background-color: transparent;
  }
}

:host([rainbow]) {
  #button {
    color: @black;
    animation: rainbowBackground @animation-duration infinite linear;
    -webkit-animation: rainbowBackground @animation-duration infinite linear;
  }
}

:host([minimal][rainbow]) {
  #button {
    animation: rainbow @animation-duration infinite linear;
    -webkit-animation: rainbow @animation-duration infinite linear;
    background-color: transparent;
  }
}
